.wrap {
  margin: auto;
  width: 500px;
  background-color: #F08080;
  border: 6px double #008080;
}

.title {
  font-family: Helvetica;
  color: #008080;
  padding-left: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
}
